@*@using Shop.ViewModels
@model CarsListViewModel*@


<h1>All Cars</h1>
<h3>@Model.currentCategory</h3>
@{
    foreach (var car in Model.AllCars)
    {
        <div>
            <h2>Model: @car.name</h2>
            <p>Price: @car.price.ToString("c")</p>
        </div>
    }
}